<%=link_to "<- back", root_path%>
<br>
<div id="list-name">
	<h2><%= @list.name %></h2>
		<%= form_for(@list, html: {class: "update_list_form"}) do |form| %>
    <%= form.text_field :name %>
    <%= form.submit "update" %>
		<% end %>
		<button id="edit-list-name">edit</button>
</div>

<button id="add-item">add new item</button>

<ul>
	<li class="new_item_form">
		<%= form_for([@list, @new_item]) do |form| %>
			<%= form.text_field :name, placeholder: "name"%>
			<%= form.submit "add" %>
		<% end %>
	</li>
	<%= render @items %>
</ul>

<br>
<%=link_to "delete list", @list, method: :delete%>
