<%=link_to "back to dashboard", root_path%>
<br>
<div id="list-name">
	<h2><div id="list-name-current"><%= @list.name %></div></h2>

  <button id="edit-list-name">edit list name</button>

	<div id="list-name-form" style="display: none;">
		<%= form_for(@list) do |form| %>
    <%= form.text_field :name, placeholder: "name"%>
    <%= form.submit "update name" %>
		<% end %>
    <button id="cancel-edit-list-name">cancel</button>
	</div>
</div>

<ul>
	<% @items.each do |item| %>
		<li class="item">
			<h3>
				<div class="item-name-current">
					<%= item.name%>
				</div>
			</h3>
			<button class="edit-item-name">edit item name</button>
			<div class="item-name-form" style="background-color: red; display: none;">
				<%= form_for item, html: {class: "item_name_update_form"}, url: list_item_path(@list.id, id: item.id), method: :put do |form| %>
				  <%= form.text_field :name %>
				  <%= form.submit "Update Name" %>
				<% end %>
			</div>
			<%= button_to "delete item", list_item_path(@list.id, id: item.id), method: :delete %>
		</li>
	<% end %>
</ul>

<br>
<%=link_to "add item", new_list_item_path(@list) %>
<br>
<%=link_to "delete list", @list, method: :delete%>
